.DS_Store

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

#Gradle
.gradletasknamecache
.gradle/
build/
settings.gradle

# Intellij project files
*.iml
.idea

# Java class files
*.class

